<template>

    <require from='library-aurelia/src/resources/value-converters/object-keys'></require>
    <require from='library-aurelia/src/resources/elements/all-properties'></require>
    <require from='library-aurelia/src/resources/value-converters/format-date'></require>
    <require from="library-aurelia/src/resources/value-converters/format-number"></require>
    <require from="library-aurelia/src/resources/value-converters/format-duration"></require>
    <require from="library-aurelia/src/resources/attributes/bs-tooltip"></require>
    <require from="library-aurelia/src/resources/attributes/bs-popover"></require>
    <require from="resources/elements/user-abbreviation"></require>

    <div class="h-100 d-flex align-content-center flex-wrap justify-content-center"
         if.bind="initialized && !contextService.currentEmergencyEvent">
        <div class="alert alert-info rounded" role="alert">
            <div class="d-flex flex-row">
                <i class="bi-hospital fs-1 pe-3"></i>
                <div>
                    <h4>${'views.dashboard.noEmergencyEventHeadline' | t}</h4>
                    ${'views.dashboard.noEmergencyEvent' | t}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mb-4"
         if.bind="contextService.currentEmergencyEvent">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h1 class="mt-3">${contextService.currentEmergencyEvent.name}
                        <button if.bind="authService.hasAccess('emergencyEvent.update')" class="btn btn-outline-primary" click.delegate="updateEmergencyEvent()"><i class="bi-pencil"></i></button>
                    </h1>
                    <p>${contextService.currentEmergencyEvent.description}</p>
                    <span class="text-muted">${'views.dashboard.timeSinceT0' | t}:</span>
                    <p class="fs-6"><i class="bi-clock-history"></i> ${getDate(contextService.currentEmergencyEvent.updatedAt) | formatDuration:true:i18n.getLocale() & signal:'update-dates'}</p>
                </div>
                <div class="d-block d-md-none">
                    <h2 class="mt-4">${'views.dashboard.menu' | t}</h2>
                    <ul class="nav">
                        <li repeat.for="route of router.navigation"
                            if.bind="route.title !== 'views.dashboard.title'"
                            class="nav-item">
                            <a href.bind="route.href"
                               class="nav-link">
                                ${route.title | t: route.settings.i18n} ${route.name}
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mt-4">${'views.dashboard.news' | t}</h2>
                    <div>
                        <p class="mb-0 text-muted">
                            <span>${'views.dashboard.lastAlert' | t}</span>
                            <a route-href="route: alert;" if.bind="contextService.alerts">(${contextService.alerts.length} ${'model.alert' | t:{count:2}})</a>:
                        </p>
                        <div class="list-group" if.bind="initialized && lastAlert">
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                               href.bind="'#/alert/detail/' + lastAlert.id">
                                <i class="bi-exclamation-triangle"></i>
                                <div class="ms-3 me-auto overflow-auto text-break">
                                    <div class="fw-bold">${lastAlert.name|| lastAlert.description}</div>
                                    <small>${getDate(lastAlert.dateIssued) | formatDuration:true:i18n.getLocale() & signal:'update-dates'}</small>
                                </div>
                                <div>${lastAlert.source}</div>
                            </a>
                        </div>
                        <p class="fs-6" if.bind="initialized && !lastAlert">${'alerts.general.noResults' | t}</p>
                        <div if.bind="!initialized" class="spinner-border spinner-border-sm" role="status"></div>
                    </div>
                    <div class="mt-1">
                        <p class="mb-0 text-muted">
                            <span>${'views.dashboard.lastMission' | t}</span>
                            <a route-href="route: mission;" if.bind="contextService.missions">(${contextService.missions.length} ${'model.mission' | t:{count:2}})</a>:
                        </p>
                        <div class="list-group" if.bind="initialized && lastMission">
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                               href.bind="'#/mission/detail/' + lastMission.id">
                                <i class="bi-flag"></i>
                                <div class="ms-3 me-auto overflow-auto text-break">
                                    <div class="fw-bold">${lastMission.name}</div>
                                    <small>${getDate(lastMission.createdAt) | formatDuration:true:i18n.getLocale() & signal:'update-dates'}</small>
                                </div>
                                <user-abbreviation if.bind="lastMission.owner"
                                                   user-id.bind="lastMission.owner[0]"
                                                   class="d-block me-2">
                                </user-abbreviation>
                            </a>
                        </div>
                        <p class="fs-6" if.bind="initialized && !lastMission">${'alerts.general.noResults' | t}</p>
                        <div if.bind="!initialized" class="spinner-border spinner-border-sm" role="status"></div>
                    </div>
                    <div class="mt-1">
                        <span class="text-muted">${'views.dashboard.lastAnnotation' | t} (${contextService.annotations.length} ${'model.annotation' | t:{count:2}})</span>
                        <div class="list-group" if.bind="initialized && lastAnnotation">
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                               href.bind="'#/mission/comment/' + lastAnnotation.refId">
                                <i class="${lastAnnotation.kind === 'AnnotationText' ? 'bi-chat-square' : 'bi-image'}"></i>
                                <div class="ms-3 me-auto overflow-auto text-break">
                                    <div class="fw-bold" if.bind="lastAnnotation.kind === 'AnnotationText'">${lastAnnotation.text}</div>
                                    <div class="fw-bold" else>${'model.annotationImage' | t}</div>
                                    <small>${getDate(lastAnnotation.createdAt) | formatDuration:true:i18n.getLocale() & signal:'update-dates'}</small>
                                </div>
                                <user-abbreviation if.bind="lastAnnotation.owner"
                                                   user-id.bind="lastAnnotation.owner[0]"
                                                   class="d-block me-2">
                                </user-abbreviation>
                            </a>
                        </div>
                        <p class="fs-6" if.bind="initialized && !lastAnnotation">${'alerts.general.noResults' | t}</p>
                        <div if.bind="!initialized" class="spinner-border spinner-border-sm" role="status"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div if.bind="contextService.currentWeather">
                    <h2 class="mt-4">${'propertyKeys.weather' | t}</h2>
                    <div repeat.for="weather of contextService.currentWeather.weather"
                         class="d-flex flex-column align-items-start">
                        <img src.bind="openWeatherMapIconUrl + weather.icon + '@2x.png'" alt="${weather.main}">
                        <span>${weather.description}</span>
                    </div>
                    <h3 class="mt-4">${'propertyKeys.weatherMain' | t}</h3>
                    <p repeat.for="property of weatherUtilities.weatherProperties | objectKeys"
                       if.bind="_.get(contextService.currentWeather, weatherUtilities.weatherProperties[property])"
                       class="mb-0">
                        <i if.bind="weatherUtilities.weatherIcons[property]" class.bind="weatherUtilities.weatherIcons[property]"></i>
                        <span>${'propertyKeys.' + property | t}: </span>
                        ${weatherUtilities.getValueAndUnit(contextService.currentWeather, weatherUtilities.weatherProperties[property], 'metric')}
                    </p>
                    <p class="mb-0">
                        <i class="bi-sunrise"></i>
                        <span>${getDate(contextService.currentWeather.sys.sunrise, 'seconds') | formatDuration:true:i18n.getLocale() & signal:'update-dates'}</span>
                    </p>
                    <p class="mb-0">
                        <i class="bi-sunset"></i>
                        <span>${getDate(contextService.currentWeather.sys.sunset, 'seconds') | formatDuration:true:i18n.getLocale() & signal:'update-dates'}</span>
                    </p>
                </div>
                <div if.bind="currentPosition">
                    <h2 class="mt-4">${'views.dashboard.ownPosition' | t}
                        <button class="btn btn-outline-primary" click.delegate="copyOwnPositionToDashboard()" bs-tooltip="title: views.dashboard.copyPositionToClipboard;"><i class="bi-clipboard"></i></button>
                    </h2>
                    <i class="bi-geo"></i>
                    <span class="fs-6"><i class="bi-distribute-horizontal"></i> ${currentPosition.lat}°</span>
                    <span class="fs-6"><i class="bi-distribute-vertical"></i> ${currentPosition.lng}°</span>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h2 class="mt-4">${'views.dashboard.team' | t}</h2>
                    <div>
                        <span class="text-muted">${'views.dashboard.users' | t}:</span>
                        <span if.bind="users" class="badge rounded-pill text-bg-secondary">${users.length}</span>
                        <span if.bind="users" class="badge rounded-pill text-bg-success">${users.filter(onlineUsers).length} ${'views.dashboard.online' | t}</span>
                        <ul if.bind="users" class="mt-2 list-inline">
                            <li repeat.for="user of users" class="list-inline-item fs-6">
                                <user-abbreviation user-id.bind="user.id"
                                                   class="d-block">
                                </user-abbreviation>
                            </li>
                        </ul>
                        <div else class="spinner-border spinner-border-sm" role="status"></div>
                    </div>
                    <div>
                        <span class="text-muted">${'views.dashboard.roles' | t}:</span>
                        <span if.bind="roles" class="badge rounded-pill text-bg-secondary">${roles.length}</span>
                        <ul if.bind="roles" class="mt-2 list-inline">
                            <li repeat.for="role of roles"
                                class="list-inline-item fs-6">
                                <i class="bi-person-badge"></i> ${role.name}
                            </li>
                        </ul>
                        <div else class="spinner-border spinner-border-sm" role="status"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
