<template>

    <require from='library-aurelia/src/resources/value-converters/object-keys'></require>
    <require from='library-aurelia/src/resources/elements/all-properties'></require>
    <require from='library-aurelia/src/resources/value-converters/format-date'></require>

    <div class="h-100 d-flex align-content-center flex-wrap justify-content-center"
         if.bind="!contextService.currentEmergencyEvent">
        <div class="alert alert-info rounded" role="alert">
            <div class="d-flex flex-row">
                <i class="bi bi-hospital fs-1 pe-3"></i>
                <div>
                    <h4>${'views.dashboard.noEmergencyEventHeadline' | t}</h4>
                    ${'views.dashboard.noEmergencyEvent' | t}
                </div>
            </div>
        </div>
    </div>

    <div class="container"
         if.bind="contextService.currentEmergencyEvent">
        <div class="row mt-5">
            <div class="col-md-6">
                <all-properties schema.bind="contextService.emergencyEventSchema"
                                object.bind="contextService.currentEmergencyEvent">
                </all-properties>
            </div>
            <div class="col-md-6"
                 if.bind="contextService.currentWeather">
                <h2>${'propertyKeys.weather' | t}</h2>
                <div repeat.for="weather of contextService.currentWeather.weather"
                     class="d-flex flex-column align-items-start">
                    <img src.bind="openWeatherMapIconUrl + weather.icon + '@2x.png'" alt="${weather.main}">
                    <span>${weather.description}</span>
                </div>
                <h3>${'propertyKeys.weatherMain' | t}</h3>
                <p repeat.for="property of weatherUtilities.weatherProperties | objectKeys"
                   if.bind="_.get(contextService.currentWeather, weatherUtilities.weatherProperties[property])"
                   class="mb-0">
                    <span>${'propertyKeys.' + property | t}: </span>
                    ${weatherUtilities.getValueAndUnit(contextService.currentWeather, weatherUtilities.weatherProperties[property], 'metric')}
                </p>
                <p class="mb-0">
                    <span>${'propertyKeys.sunrise' | t}: ${getDate(contextService.currentWeather.sys.sunrise) | formatDate:'T':i18n.getLocale()}</span>
                </p>
                <p class="mb-0">
                    <span>${'propertyKeys.sunset' | t}: ${getDate(contextService.currentWeather.sys.sunset) | formatDate:'T':i18n.getLocale()}</span>
                </p>
            </div>
        </div>
    </div>

</template>
