<template>

    <div class="d-flex flex-wrap h-100 align-items-center overflow-auto">
        <div class="container overflow-auto">
            <div class="row">
                <h1 class="w-100 text-center my-3">PathoTeSTICK</h1>
            </div>
            <div class="row row-cols-1 row-cols-md-3 row-cols-xl-5 g-4 overflow-auto">
                <div class="col">
                    <div class="card text-center h-100">
                        <img src="~bootstrap-icons/icons/question-lg.svg" class="w-100 img-fluid p-3">
                        <div class="card-body">
                            <h5 class="card-title">When to use this technology and what pathogens can be detected?</h5>
                            <a route-href="route.bind: 'technology'" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center h-100">
                        <img src="~bootstrap-icons/icons/list-check.svg" class="w-100 img-fluid p-3">
                        <div class="card-body">
                            <h5 class="card-title">Checklist material before going to the field</h5>
                            <a route-href="route.bind: 'checklist'" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center h-100">
                        <img src="~bootstrap-icons/icons/eyedropper.svg" class="w-100 img-fluid p-5">
                        <div class="card-body">
                            <h5 class="card-title">On field sampling procedure</h5>
                            <a route-href="route.bind: 'sampling'" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center h-100">
                        <img src="~bootstrap-icons/icons/gear.svg" class="w-100 img-fluid p-5">
                        <div class="card-body">
                            <h5 class="card-title">Commissioning</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center h-100">
                        <img src="~bootstrap-icons/icons/wrench.svg" class="w-100 img-fluid p-5">
                        <div class="card-body">
                            <h5 class="card-title">Maintenance</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
