<template>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <h1><i class="bi-${getIconByType(instruction.type)}"></i> ${devices[params.device].name}: ${instruction.name}</h1>
                <div repeat.for="item of instruction.items"
                     class="mt-4">
                    <h3>${item.section}</h3>
                    <p if.bind="item.description">${item.description}</p>
                    <img if.bind="item.image"
                         src.bind="item.image" class="image-10rem">
                    <ul if.bind="item.checklistItems"
                        class="list-group">
                        <label repeat.for="subItem of item.checklistItems" class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            ${subItem}
                        </label>
                    </ul>
                    <ul if.bind="item.steps">
                        <li repeat.for="subItem of item.steps">
                            ${subItem}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</template>
