<template>

    <require from='library-aurelia/src/resources/value-converters/object-keys'></require>

    <div class="container-fluid my-4">
        <div class="row justify-content-md-center gy-5">
            <div if.bind="devices"
                 repeat.for="key of devices | objectKeys"
                 class="col-md-4 col-xl-3">
                <h1>${devices[key].name}</h1>
                <img src.bind="devices[key].image" class="image-10rem">
                <p>${devices[key].description}</p>
                <p if.bind="devices[key].pathogens">
                    ${'views.instructions.pathogens' | t}
                <ul>
                    <li repeat.for="pathogen of devices[key].pathogens">
                        ${pathogen}
                    </li>
                </ul>
                </p>
                <p if.bind="devices[key].detectionLimits">
                    ${'views.instructions.detectionLimits' | t}
                <ul>
                    <li repeat.for="detectionLimit of devices[key].detectionLimits">
                        ${detectionLimit}
                    </li>
                </ul>
                </p>
                <p>${'views.instructions.availableInstructions' | t}</p>
                <div class="list-group">
                    <a repeat.for="instruction of devices[key].instructions"
                       route-href="route.bind: 'instruction'; params.bind:{device: key, index: $index}"
                       class="list-group-item list-group-item-action">
                        <i class="bi-${instructionsUtilities.getIconByType(instruction.type)}"></i>
                        ${instruction.name}
                    </a>
                </div>
            </div>
        </div>
    </div>

</template>
