.bg-gray {
    background-color: $gray-200;
}

.bg-gray-light {
    background-color: $gray-100;
}

.icon-1 {
    width: 1.5rem;
    text-align: center;
}

.nav-item {
    text-transform: uppercase;
}

.nav-link.active {
    border-bottom: solid $primary 2px;
}
