<template>

    <require from="library-aurelia/src/resources/elements/all-properties"></require>
    <require from='library-aurelia/src/resources/value-converters/filter'></require>

    <div class="h-100 container${routeConfig.settings.fluidContainer ? '-fluid' : ''}">
        <div class="h-100 row justify-content-${routeConfig.settings.justification ? routeConfig.settings.justification : 'center'}">
            <div class="h-100 col-lg-${routeConfig.settings.gridColumns ? routeConfig.settings.gridColumns : 12} overflow-auto">
                <div class="d-flex flex-column h-100 overflow-auto">
                    <div class="flex-fill overflow-auto">
                        <all-properties if.bind="object && schema"
                                        schema.bind="schema"
                                        object.bind="object"
                                        layer.bind="1">
                        </all-properties>
                    </div>
                    <div class="d-flex flex-row p-3 border-top justify-content-start">
                        <button if.bind="authService.hasAccess('alert.create')"
                                class="btn btn-outline-danger me-2"
                                click.trigger="deleteObject(object, $event)">
                            <i class="bi-trash"></i><span class="ms-2 d-none d-md-inline d-lg-none">${'buttons.delete' | t}</span>
                        </button>
                        <button if.bind="authService.hasAccess('alert.update')"
                                class="btn btn-outline-secondary me-2"
                                click.trigger="navigate('search-update')">
                            <i class="bi-pencil"></i><span class="ms-2 d-none d-md-inline d-lg-none">${'buttons.update' | t}</span>
                        </button>
                        <button if.bind="authService.hasAccess('mission.create')"
                                class="btn btn-primary"
                                click.trigger="openCreateModal('mission', $event)">
                            ${'views.create' | t:{type: 'model.mission'}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
