<template>

    <require from="app.scss"></require>
    <require from="library-aurelia/src/resources/attributes/bs-color-scheme"></require>
    <require from="library-aurelia/src/resources/elements/nav-bar"></require>
    <require from="library-aurelia/src/resources/elements/toolbar/toolbar"></require>
    <require from="library-aurelia/src/resources/elements/alert"></require>
    <require from="library-aurelia/src/resources/elements/toast"></require>
    <require from="library-aurelia/src/resources/value-converters/format-number"></require>
    <require from="leaflet/dist/leaflet.css"></require>

    <nav-bar display-dark-mode-switch.bind="true"
             display-is-navigating.bind="true"
             home-icon-src.bind="'assets/icon-pathocert.png'">

        <div class="dropdown" if.bind="!authService.userInfo.locale">
            <button class="btn btn-${isDarkMode ? 'dark' : 'light'} dropdown-toggle" type="button" id="language-menu"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-translate"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="language-menu">
                <li repeat.for="language of languages"
                    if.bind="language.value !== i18n.getLocale()">
                    <button class="dropdown-item"
                            click.trigger="changeLanguage(language.value)">
                        ${language.name}
                    </button>
                </li>
            </ul>
        </div>

        <div class="dropdown" if.bind="contextService.devices">
            <button class="btn btn-${isDarkMode ? 'dark' : 'light'} dropdown-toggle" type="button" id="devices-menu"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-${contextService.getDeviceIcon(contextService.currentDevice)}"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="devices-menu">
                <li repeat.for="device of contextService.devices">
                    <button class="dropdown-item ${device === contextService.currentDevice ? 'active' : ''}"
                            click.trigger="contextService.currentDevice = device">
                        <i class="bi bi-${contextService.getDeviceIcon(device)}"></i> ${device.name}
                    </button>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <button class="dropdown-item"
                            click.trigger="openAddDeviceModal()">
                        <i class="bi bi-plus"></i> ${'views.create' | t:{'type': 'model.device'}}
                    </button>
                </li>
            </ul>
        </div>

        <div class="dropdown"
             if.bind="authService.userInfo">
            <button class="btn btn-${isDarkMode ? 'dark' : 'light'} dropdown-toggle" type="button" id="profile-menu"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
                ${authService.userInfo.name}
            </button>
            <ul class="dropdown-menu" aria-labelledby="language-menu">
                <li class="px-3">
                    <span class="text-muted">${authService.userInfo.preferred_username}</span>
                    <span class="text-muted">${authService.userInfo.email}</span>
                    <span class="text-muted">${'buttons.logoutIn' | t} ${authService.getTokenExpiresIn() | formatNumber:'00:00:00' & signal:'update-logout-in'}</span>
                </li>
                <li>
                    <a class="dropdown-item"
                       href.bind="authService.keycloak.createAccountUrl({redirectUri: window.environment.keycloak.url})"
                       target="_blank">
                        ${'buttons.userManagement' | t}
                    </a>
                </li>
                <li>
                    <button class="dropdown-item"
                            click.trigger="authService.close()">
                        ${'buttons.logout' | t}
                    </button>
                </li>
            </ul>
        </div>
    </nav-bar>
    <toolbar></toolbar>

    <toast event="toast"></toast>
    <alert event="app-alert"></alert>

    <router-view bs-color-scheme.bind="{type: 'bg', setText: true, bw: true}"></router-view>

</template>
