MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=
KEYCLOAK_PASSWORD=
SERVER_MODE=
SERVER_PROTOCOL=
SERVER_HOST=
SERVER_PORT=
SERVER_LOG_LEVEL_CONSOLE=
SERVER_LOG_LEVEL_FILE=
SERVER_OPEN_WEATHER_MAP_API_KEY=
KEYCLOAK_CONFIG_AUTH_SERVER_URL=
DATABASE_JSONDB_PATH=
