CAPABILITIES_ACCESS_CONTROL_CHECKER_MIDDLEWARE=
CAPABILITIES_DATABASE=
CAPABILITIES_SWAGGER_UI=
SERVER_MODE=
SERVER_PROTOCOL=
SERVER_HOST=
SERVER_PORT=
SERVER_LOG_LEVEL_CONSOLE=
SERVER_LOG_LEVEL_FILE=
DATABASE_JSONDB_PATH=
DATABASE_JSONDB_READ_ONLY=
DATABASE_ALLOWED_UPLOAD_FILE_EXTENSIONS=
