camera {

    .camera-canvas {
        display: none;
        width: 100%;
    }

    .drawing-canvas {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
    }

    .camera-video {
        display: flex;
        width: 100%;
        z-index: 0;
    }

    #wrap {
        position: relative;
        overflow: hidden;
        padding: 0;
        width: 100% !important;
        background-color: #e9ecef;
    }

    .tool-thick {
        font-size: 1rem;
    }

    .tool-middle {
        font-size: 1rem * 0.75;
    }

    .tool-thin {
        font-size: 1rem * 0.5;
    }

    .canvas-container {
        position: absolute !important;
    }

    .form-control-color {
        width: 42px;
    }

}
