<template>

    <require from='library-aurelia/src/resources/value-converters/object-keys'></require>
    <require from="./../../resources/elements/camera"></require>

    <div class="h-100 overflow-auto">
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-md-6">
                    <h1>Camera annotation</h1>
                    <camera></camera>
                </div>
                <div class="col-md-6">
                    <h1>Dialogs and Toasts</h1>
                    <form autocomplete="off">
                        <div class="mb-3">
                            <label for="toastTitle">Toast title</label>
                            <input type="text"
                                   class="form-control"
                                   id="toastTitle"
                                   ref="toastTitle"
                                   placeholder="Example input">
                        </div>
                        <div class="mb-3">
                            <label for="toastBody">Toast body</label>
                            <textarea class="form-control" id="toastBody" ref="toastBody"
                                      placeholder="Example input"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="toastBiIcon">Toast Bootstrap Icon</label>
                            <select class="form-select"
                                    id="toastBiIcon"
                                    ref="toastBiIcon">
                                <option value="" disabled selected hidden>...</option>
                                <option repeat.for="icon of bootstrapIcons">
                                    ${icon}
                                </option>
                            </select>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                   id="toastAutohide"
                                   ref="toastAutohide">
                            <label class="form-check-label" for="toastAutohide">
                                Autohide
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                   id="toastDismissible"
                                   ref="toastDismissible">
                            <label class="form-check-label" for="toastDismissible">
                                Dismissible
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary"
                                click.delegate="eventAggregator.publish('toast',
                                {
                                    title: toastTitle.value,
                                    body: toastBody.value,
                                    biIcon: toastBiIcon.value,
                                    autohide: toastAutohide.checked,
                                    dismissible: toastDismissible.dismissible
                                })">
                            Create Toast
                        </button>
                        <button type="submit" class="btn btn-primary"
                                click.delegate="openPromptDialog(toastTitle.value, toastBody.value, toastBiIcon.value)"
                                onclick="this.blur();">
                            Create Prompt Dialog
                        </button>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center pb-4"
                 repeat.for="key of iso | objectKeys">
                <div class="col-xl-10">
                    <h1>${'iso7010.' + key | t}</h1>
                    <div class="row row-cols-1 row-cols-md-5 g-4">
                        <div class="col"
                             repeat.for="sign of iso[key]">
                            <div class="card text-center h-100">
                                <img src.bind="'./assets/iso7010/ISO_7010_' + sign + '.svg'" class="card-img-top p-4">
                                <div class="card-body">
                                    <h5 class="card-title">${'iso7010.' + sign | t}</h5>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">ISO7010 ${sign}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
